body{
margin:0;
background:#202225;
font-family:Arial;
color:white;
}

#login{
width:350px;
margin:100px auto;
text-align:center;
}

#login input{
width:100%;
padding:10px;
margin-top:10px;
border:none;
border-radius:8px;
}

#login button{
margin-top:15px;
padding:10px;
width:100%;
background:#5865F2;
border:none;
color:white;
cursor:pointer;
border-radius:8px;
}

#app{
display:flex;
height:100vh;
}

#left{
width:250px;
background:#2f3136;
padding:15px;
overflow:auto;
}

#center{
flex:1;
background:#36393f;
display:flex;
flex-direction:column;
}

#messages{
flex:1;
padding:15px;
overflow:auto;
}

#send{
display:flex;
padding:10px;
background:#40444b;
}

#send input{
flex:1;
padding:10px;
border:none;
border-radius:6px;
}

#send button{
margin-left:10px;
padding:10px 20px;
background:#5865F2;
border:none;
color:white;
cursor:pointer;
border-radius:6px;
}

#right{
width:250px;
background:#2f3136;
padding:15px;
}

button{
transition:.2s;
}

button:hover{
transform:scale(1.05);
}

.friend{
padding:8px;
margin:5px 0;
background:#40444b;
cursor:pointer;
border-radius:6px;
}

.friend:hover{
background:#5865F2;
}